# Soham Jakapure  25070123110

In [32]:
# AIM:Study of list,tuple and Dictionary
#a list is a versatile and commonly used data structure that allows you to store an ordered collection of items.
listfruits=["apple", "orange","cherry"]
print(listfruits)

['apple', 'orange', 'cherry']

In [34]:
listfruits=["apple", "orange","cherry","apple"]
print(listfruits)
# duplicate are allowed in list

['apple', 'orange', 'cherry', 'apple']

In [38]:
#list length
listfruits = ['apple', 'orange', 'cherry', 'apple']

print("listfruits")
for fruit in listfruits:
    print("'{apple}': {2}")
    print("'{orange}': {1}")
    print("'{cherry}': {2}")
    print("'{apple}': {2}")

listfruits
'{apple}': {2}
'{orange}': {1}
'{cherry}': {2}
'{apple}': {2}
'{apple}': {2}
'{orange}': {1}
'{cherry}': {2}
'{apple}': {2}
'{apple}': {2}
'{orange}': {1}
'{cherry}': {2}
'{apple}': {2}
'{apple}': {2}
'{orange}': {1}
'{cherry}': {2}
'{apple}': {2}

In [57]:
#list length
list1=["apple",1,2.25,True]
print(len(list1))

4

In [59]:
#addition of more list
listfruits=["apple", "orange","cherry"]
listfruits.append("banana")
print(listfruits)

['apple', 'orange', 'cherry', 'banana']

In [65]:
#addition of more list but for apple in which their is sequence
#first one is 0 1 2 3
#reverse -3 -2 -1
listfruits=["apple", "orange","cherry"]
print(listfruits[0])
print(listfruits[-2])
listfruits.append("banana")
print(listfruits)

apple
orange
['apple', 'orange', 'cherry', 'banana']

In [76]:
listfruits = ["apple", "orange", "cherry"]

# Find the index of 'orange' and replace it with 'banana'

index_orange = listfruits.index('orange')
listfruits[index_orange] = 'banana'

print(listfruits)

['apple', 'banana', 'cherry']

In [86]:
# combining of 2 lists
list1 = ["Soham", "Dhruv","Patil"]
list2 = [4, 5, 6]

combined_list = list1 + list2

print(combined_list)

['Soham', 'Dhruv', 'Patil', 4, 5, 6]

In [91]:
# listing names of fruits from 0 to 5
list1= ["apple","banana","cherry","Kiwi","mango","pineapple"]
print(list1[2:5])
print(list1[2:])
print(list1[2:-2])

['cherry', 'Kiwi', 'mango']
['cherry', 'Kiwi', 'mango', 'pineapple']
['cherry', 'Kiwi']

In [95]:
# Create a list of 5 students names
# Display the first and last student
# Add a new student
# Remove any one student
#Sort the list alphabetically

list1 = ["Soham", "Dhruv","Patil","Rohit","Navya"]
first_student = list1[0]
print("First student: {Soham}")
last_student = list1[-1]
print("Last student: {Navya}")
new_student = "Kiran" # You can change this name
list1.append(new_student)
print(f"List after adding a new student: {list1}")
student_to_remove = "Dhruv" # You can change this name
list1.remove(student_to_remove)
print(f"List after removing a student: {list1}")
print(f"Sorted list: {sorted(list1)}")

First student: {Soham}
Last student: {Navya}
List after adding a new student: ['Soham', 'Dhruv', 'Patil', 'Rohit', 'Navya', 'Kiran']
List after removing a student: ['Soham', 'Patil', 'Rohit', 'Navya', 'Kiran']
Sorted list: ['Kiran', 'Navya', 'Patil', 'Rohit', 'Soham']

In [113]:
#Student marks management system
#Making list of students
student_marks = [85, 92, 78, 65, 90, 72]

print("Student Marks:", student_marks)
#Display highest and lowest marks
highest_mark = max(student_marks)
lowest_mark = min(student_marks)

print(f"Highest mark: {highest_mark}")
print(f"Lowest mark: {lowest_mark}")
#Calcualte average marks
total_marks = sum(student_marks)
number_of_students = len(student_marks)

# Check to prevent division by zero if the list is empty
if number_of_students > 0:
    average_marks = total_marks / number_of_students
    print(f"Average marks: {average_marks:.2f}")
else:
    print("Cannot calculate average: The list of student marks is empty.")
#Sorting the marks
sorted_marks = sorted(student_marks)

print(f"Sorted marks: {sorted_marks}")

Student Marks: [85, 92, 78, 65, 90, 72]
Highest mark: 92
Lowest mark: 65
Average marks: 80.33
Sorted marks: [65, 72, 78, 85, 90, 92]